Repository SocialGouv/docker, pull requests merged in 2019-11, with the labels that each got.

#37 docs(nginx4spa): update README
  nginx4spa/README.md
  nginx4spa/envsub.sh
Labels: scope: nginx4spa, type: docs

#41 refactor(kubectl): change home and remove ADD
  kubectl/.gitlab-ci.yml
  kubectl/Dockerfile
Labels: scope: kubectl, type: refactor

#45 feat(infra-ansible-ci) : import image from images-docker repository
  .gitlab-ci.yml
  README.md
  infra-ansible-ci/.gitlab-ci.yml
  infra-ansible-ci/Dockerfile
  infra-ansible-ci/README.md
  kubectl/.gitlab-ci.yml
Labels: scope: infra-ansible-ci, type: feat

#46 feat(infra-ansible-ci) add missing yq tools in image
  infra-ansible-ci/Dockerfile
Labels: scope: infra-ansible-ci
