Repository SocialGouv/docker, pull requests merged in 2020-04, with the labels that each got.

#162 feat(fluentd-modsecurity): add fluentd-modsecurity docker image
  .gitlab-ci.yml
  README.md
  fluentd-modsecurity/.gitlab-ci.yml
  fluentd-modsecurity/Dockerfile
  fluentd-modsecurity/README.md
Labels: scope: fluentd-modsecurity

#179 refactor(kubectl): use bitnami/kubectl image
  kubectl/Dockerfile
  kubectl/requirements.yml
Labels: scope: kubectl, type: refactor

#181 refactor(helm): allow renovate maintenance
  CONTRIBUTING.md
  bats/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  helm/Dockerfile
  helm/package.json
Labels: scope: helm, type: refactor

#187 fix(kubectl): add up to date bash version
  kubectl/.gitlab-ci.yml
  kubectl/Dockerfile
Labels: scope: kubectl, type: fix

#190 fix(kubectl): add up to date coreutils version
  kubectl/.gitlab-ci.yml
  kubectl/Dockerfile
Labels: scope: kubectl, type: fix

#175 feat(azure-cli): add azure-cli image
  .github/renovate.json
  .gitlab-ci.yml
  azure-cli/.gitlab-ci.yml
  azure-cli/Dockerfile
  azure-cli/README.md
  azure-db/Dockerfile
Labels: type: feat
