Repository SocialGouv/docker, pull requests merged in 2020-02, with the labels that each got.

#101 fix(kubectl): update kubectl to 0.17.3
  kubectl/Dockerfile
Labels: scope: kubectl, type: refactor

#74 feat(azure-db): add azure-db container
  .gitlab-ci.yml
  README.md
  azure-db/.gitlab-ci.yml
  azure-db/Dockerfile
  azure-db/README.md
  azure-db/bin/backup
  azure-db/bin/create-db-user
  azure-db/bin/drop-db-user
Labels: scope: azure-db, type: feat

#105 fix(infra-ansible-ci): update infra image deps
  infra-ansible-ci/Dockerfile
Labels: dependencies, scope: infra-ansible-ci
